<nav>
    <div class="nav-wrapper container">
        <a ui-sref="home" class="brand-logo">Home</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a ui-sref="about">About</a></li>
            <li><a ui-sref="contact">Contact</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a ui-sref="about">About</a></li>
            <li><a ui-sref="contact">Contact</a></li>
        </ul>
    </div>
</nav>