<!--start new post-->
<h4><i class="material-icons dp48">description</i> Kết quả</h4>
<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="/publics/assets/img/bg-masthead.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="/publics/assets/img/bg-masthead.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="/publics/assets/img/bg-masthead.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="/publics/assets/img/bg-masthead.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="/publics/assets/img/bg-masthead.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="/publics/assets/img/bg-masthead.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<p class="center-align"><a class="waves-effect waves-light btn red">Xem tất cả</a></p>
<!--/end new post-->